body {
  font-family: sans-serif;
}

#p-logo {
  width: 10em;
  height: 160px;
  margin-bottom: 1em;
  display: block;
}

.column-margin{
  margin-left: 20px;
}

.menu-link {
  font-size: .75em;
  margin: 0;
  padding:.25em 0;
  position: relative;
  display: block;
  line-height: 1.25;
  color: #004c9c;
}

ul.menu-link {
  list-style: none;
}

h3 {
  display: block;
  background-image: linear-gradient(to right,rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  border: 0;
  padding: .25em 0;
  font-weight: normal;
  cursor: default;
  font-size: .75em;
  color: #54595D;
}